<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Financial Analysis Feedback Website</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <style>
            body{
                background-image: url("/images/home.jpeg");
                background-size: 100% 100%;
            }
        </style>
    </head>
    <body>
        <nav>
            <span class="material-icons" href="/">home</span>
            <a href="/pay" id="pay-button">Payment</a>
            <a href="/login" id="login-button">Login</a>
        </nav>
        <div style="background-color: white; width: 60%; margin: auto; padding: 20px">
            <h1>Financial analysis system feedback website</h1><br>
            <p>This website collects requirements and feedback for the new financial analysis system developed by the Joint Just Technology. </p><br>
            <image src="/images/home.jpeg" width="100%"><p></p><br>
            <h2>Updates</h2><br>
            <p>The website has updated the payment, feedback and analysis modules. </p>
        </div>
    </body>
</html>
