<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Payment page</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <form action="/QRcode" type="payment" style="min-height: 350px">
            <div>
                <h1><b>PAYMENT</b></h1>
            </div>
            <div>
                <button id="seasonal" name="type" value="seasonal" type="payment" style="margin-left: 0px">Seasonal</button>
                <button id="semiannual" name="type" value="semiannual" type="payment">Semi annual</button>
                <button id="annual" name="type" value="annual" type="payment" style="margin-right: 0px">Annual</button>
            </div>
        </form>
    </body>
</html>