<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>QR code</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <div class="modal">
            <div>
                <img src="/images/seasonal.png" id="qrcode" class="image"/>
            </div>
            <p>(just example)</p>
        </div>
    </body>
</html>